body {
    margin: 0px;
    font-family: 'Roboto';
    background-color: rgb(45, 57, 75);
}

.done {
    text-decoration: line-through;
    color: rgb(114, 114, 114);
}

#heading {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(133, 206, 228);
    border-radius: 30px;
}

#list {
    padding: 20px;
    margin: 10px;
    background-color: rgb(133, 206, 228);
    border-radius: 30px;
}

#input-bar{
    margin: 5px;
    border-radius: 30px;
    background-color: rgb(72, 135, 155);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: end;
}

.button {
    transition: 0.2s;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border-radius: 30px;
    border-style: none;
    width: 3.5em;
    height: 3.5em;
    background-color: rgb(45, 57, 75);
}

.button:hover {
    background-color: rgb(133, 206, 228);
}

.delete:hover {
    background-color: rgb(251, 50, 50);
}

.check:hover {
    background-color: rgb(50, 251, 50);
}


input {
    margin: 20px;
    width: 100%;
    border-radius: 30px;
    border-style: none;
    background-color: rgb(72, 135, 155);
}

.item {
    margin: 5px;
    border-radius: 30px;
    background-color: rgb(72, 135, 155);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

div > p {
    transition: 0.1s;
    margin: 20px;
    width: 100%;
}