body {
    background-image: url(bg.gif);
    background-size: 10%;
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 100px;
}

a {
    color: rgb(0, 255, 0);
    background-color: red;
}

img {
    aspect-ratio: 1138/340;
    width: 100vw;
}